<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Messageboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
     <h1>Mini Messageboard</h1>
     <div class="navbar">
        <%- include('navbar', {links: links}) %>
        </div>
        <!-- <div class="messagebox"> -->
        <%- include('messages', {messages: messages}) %>
       <!-- </div> -->

</body>
</html>