
<div class="messageBox">
    <% for (let i = 0; i < messages.length; i++) { %>
        <div class="messageCards">
            <p class="message">
            <%- messages[i].text %>
        </p>
            <h3> - <%- messages[i].user %></h3>
            <span> - <%- messages[i].added.toLocaleString() %></span>
            <a href="/message/<%= messages[i].id %>"class="open">Open</a>
        </div>
        <% } %>
</div>