:root {
    --bg: #F0F0F2;
    --accent: #352F59;
    --primary: #9E99BF;
    --secondary: #BFBDF2;
    --text: #222;

}

body {
    background-color: var(--primary);
    width: 100vw;
    min-height: 100vh;
}

h1, h2 {
    color: var(--text);
    
}

.messageCards {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: fit-content
}

.messageBox {
    display: flex;
    flex-direction: row;
    
    padding: 1rem;
    flex-wrap: wrap;
    width: 100vw;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: var(--bg)
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    
}

a {
    text-decoration: none;
    color: var(--bg);
    font-weight: boldest;
    transition: all 0.2s ease-in-out;
}
a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}
h1 {
    text-align: center;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    

    margin: 3rem;
    gap: 1.5rem;
}

input {
    width: 30rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--accent);
    color: var(--bg);
    text-align: center;
}

.submitBtn {
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--accent);
    color: var(--bg);
    font-size: 1.5rem;
    cursor: pointer;
}

.open {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.7rem;
    margin: 1rem 0 ;
    border-radius: 1rem;
    border: none;
    background-color: var(--accent);
    color: var(--bg);
    font-size: 0.8rem;
    cursor: pointer;
    justify-self: flex-end;
}

.message {
    font-size: 2.4rem;
}

.singleMessage {
    width: 80%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    
    color: var(--text);
}